* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}

img {
  width: 100%;
}

.contact-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.contact-app__header {
  display: flex;
  align-items: center;
  padding: 32px 0;
}

.contact-app__header h1 {
  font-weight: normal;
  font-size: 32px;
  flex: 1;
}

.navigation ul {
  display: flex;
  align-items: center;
}

.navigation ul li {
  display: inline-block;
  padding: 16px;
}

.navigation ul li a {
  font-size: 28px;
  color: black;
}

.navigation ul li button {
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  border: 0;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 24px 0;
  border: 2px dashed black;
  padding: 16px;
  border-radius: 8px;
}

.contact-item__image img {
  width: 64px;
  border-radius: 50%;
}

.contact-item__body {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #aaa;
  flex: 1;
}

.contact-item__title {
  padding: 4px 0;
}

.contact-item__username {
  font-weight: lighter;
}

.contact-item__delete {
  padding: 8px;
  font-size: 28px;
  color: red;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar {
  display: block;
  width: 100%;
  margin: 16px 0;
  padding: 12px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  border: 2px dashed black;
  border-radius: 4px;
}

.login-page h2, .register-page h2 {
  font-weight: normal;
}

.login-input, .register-input, .contact-input {
  margin-top: 16px;
}

.login-input input, .register-input input, .contact-input input {
  display: block;
  padding: 16px;
  width: 100%;
  margin: 8px 0;
  font-size: 24px;
  background-color: transparent;
  border: 2px dashed black;
  border-radius: 8px;
}

.login-input button, .register-input button, .contact-input button {
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 24px;
  background-color: tan;
  border: 2px dashed black;
  border-radius: 8px;
  margin: 16px 0;
}

/* Lanjutan kode dari https://github.com/dicodingacademy/a413-react-fundamental-labs/blob/501-mengubah-komponen-homepage-menjadi-functional-component/contacts-app/src/styles/style.css */

@media screen and (max-width: 620px) {
  .bm-overlay {
    display: none;
  }
  
  .bm-item-list {
    height: 100%;
    color: rgb(184, 183, 173);
    padding: 48px 24px 24px;
  }
  
  .bm-burger-bars {
    position: absolute;
    height: 4px;
    left: 0px;
    right: 0px;
    top: 0%;
    opacity: 1;
    background: rgb(51, 51, 51);
  }
  
  .bm-item {
    display: block;
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
  }
  
  .bm-menu {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    background: rgb(229, 27, 34);
    padding: 32px;
    font-size: 24px;
  }
  
  .bm-burger-button {
    z-index: 1000;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 32px;
    top: 32px;
  }
  
  #react-burger-menu-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: medium;
    font-size: 0px;
    background: transparent;
    cursor: pointer;
  }
  
  .bm-cross-button {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 8px;
  }
  
  #react-burger-cross-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: medium;
    font-size: 0px;
    background: transparent;
    cursor: pointer;
  }
  
  .bm-cross {
    background: rgb(255, 255, 255);
  }

  .navigation {
    display: none;
  }
}

@media screen and (min-width: 621px) {
  .bm-overlay {
    display: none;
  }
  
  .bm-burger-button {
    display: none;
  }

  .bm-menu-wrap {
    display: none;
  }
}
